<div class="container-fluid footer-1">
    <div class="d-flex justify-content-around ">
      <div class="">
          <i class="fa-solid fa-truck-fast"></i>
          <p>  Fast Delivery     </p>
      </div>
      <div class="">
          <i class="fa-solid fa-tag"></i>
          <p> 15 days easy return  </p>
      </div>
      <div class="">
          <i class="fa-solid fa-location-dot"></i>
          <p>  Track Order    </p>
      </div>
    </div>
  </div>
  
  <div class="container-fluid footer-2 ">
      <!-- footer list -->
    <div class="row footer-list justify-content-between" >
        <div class="col-md-6">
          <ul>
              <li>What's In Store</li>
              <li>Men</li>
              <li>Women</li>
              <li>Kids</li>
              <li>New Arrivals</li>
              <li>Track Order</li>
          </ul>
          <ul>
              <li>Company Info & Policies</li>
              <li>Blogs</li>
              <li>Corporaite</li>
              <li>Terms & Coniditions</li>
              <li>Privacy & Cookies Poilicy</li>
              <li>FAQ's</li>
              <li>Return i& Claim Policy</li>
              <li>Contact Us</li>
              <li>Return/Exchainge</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li>Get In Touch</li>
            <li>For Online Ordiers:</li>
            <li class="bold-texts mti-3">Inquiry/Complaint:</li>
            <li class="mb-0">
              <a href="tel:+9667706012">9667706012</a>
            </li>
            <li>10.00AM to 7:00PM</li>
            <li class="bold-texts mit-3">Any Other queries:</li>
            <li class="mb-0">
              <a href="tel:+9667706012">9667706012</a></li>
            <li >10.00AM to 7:00PM</li>
            <li class="bold-texts">Eimail: <a href="mailto:customercare@campusshoes.com">customercare@campusshoes.com</a> </li>
          </ul>
          <ul style="width: 400px; justify-content: end;">
            <li>Newsletter</li>
            <li>Sign up for exclusive offers, original stories, upcoming events and more.</li>
            <li><input type="text" width="150px" height="30px" style="background-color: white;"></li>
            <li>  <button class="sign-up">SIGN UP</button></li>
            <!-- social media icons -->
            <li>
              <a href="">
                <i class="fa-brands fa-twitter"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-square-facebook"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-youtube"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
    </div>
  </div>
  <div class="footer-3">
  <h2 > Popular Searches</h2>
  <div class="key-searches  ">
    <a  *ngFor="let key of Menkeywords">{{key}} <span> | </span></a> <br>
    <a  *ngFor="let key of Womenkeywords">{{key}} <span> | </span></a> <br>
    <a  *ngFor="let key of Kidskeywords">{{key}} <span> | </span></a> 
  </div>
  </div>
  <div class="footer-4">
    <div>
      <a href="">© 2024 Campus Shoes.</a>
    </div>
  </div>
